<a class="navbar-brand" href="/">Менеджер задач</a>
<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/users/">Пользователи</a>
    </li>
    {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Вход</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_create' %}">Регистрация</a>
      </li>
    {% endif %}
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'status_list' %}">Статусы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'label_list' %}">Метки</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_list' %}">Задачи</a>
      </li>
    {% endif %}
  </ul>
  {% if user.is_authenticated %}
    <ul class="navbar-nav">
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input class="btn nav-link" type="submit" value="Выход">
      </form>
    </ul>
  {% endif %}
</div>